/**
hr {color:sienna;
    text-align: center}
p {margin-left:20px;
    text-align: center}

body {
    background-image: url("http://photocdn.sohu.com/20161024/Img471091413.jpeg");
    background-repeat: no-repeat; background-position: right top;
    margin-right:200px;
    height: 80%;
    width: 80%;

}
a:link {
    background-color:#B2FF99;
        text-decoration:none;
        }
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 8px 16px;

}
.dropdown:hover .dropdown-content {
    display: block;
}
*/
.copyright {
    color: #9d9d9d;
    text-align: center;
}
.subnav {
    font-size: 20px;
    text-align: center;

}
.img-p {
    height: 30px;
    margin-left: 0px;
    text-align: left;
}
